.Page-Container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  .Project-Container {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .P1:hover img {
      opacity: 0.3;
    }
    .P1:hover .middle {
      opacity: 1;
    }
    .P2:hover img {
      opacity: 0.3;
    }
    .P2:hover .middle {
      opacity: 1;
    }
    .P1 {
      position: relative;
      img {
        width: 90%;
        margin: 5%;
        border-radius: 10px;
      }
      .middle {
        display: flex;
        opacity: 0;
        transition: 1s ease;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 200px;
        a {
          align-self: center;
          margin: 2%;
          padding: 10%;
          text-align: center;
          border-radius: 10%;
          background-color: #282624;
          font-family: "Montserrat", sans-serif;
          color: #fff;
          text-decoration: none;
        }
      }
    }
    .P2 {
      position: relative;
      img {
        width: 90%;
        margin: 5%;
        border-radius: 10px;
      }
      .middle {
        display: flex;
        opacity: 0;
        transition: 1s ease;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 200px;
        a {
          align-self: center;
          margin: 2%;
          padding: 10%;
          text-align: center;
          border-radius: 10%;
          background-color: #282624;
          font-family: "Montserrat", sans-serif;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  .circle{
    position: absolute;
    right: -10%;
    top: -15%;
    border-radius: 100%;
    background-color: #282624;
    width: 60%;
    height: 100%;
  }
  
  }
  .upArrow{
    position: fixed;
    left: 1%;
    bottom: 6%;
    z-index: 1;
    a{
      img{
        width: 70%;
      }
    }
}

@media only screen 
  and (min-width: 375px) 
  and (max-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .Project-Container{
      display: flex;
      flex-direction: column;
    }
    .circle{
     visibility: hidden;
    }
}